<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127685850370-rols1u7t72l6skh5gpd9likjs99oiipl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127685850370-rols1u7t72l6skh5gpd9likjs99oiipl</string>
	<key>API_KEY</key>
	<string>AIzaSyC_5Qtuo9QiDH-t5IQIQcke9qno2UaQlpM</string>
	<key>GCM_SENDER_ID</key>
	<string>127685850370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tankengboon.partswanted</string>
	<key>PROJECT_ID</key>
	<string>partswanted-aa4f7</string>
	<key>STORAGE_BUCKET</key>
	<string>partswanted-aa4f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127685850370:ios:bd7ab3c53f91943c44fe1b</string>
</dict>
</plist>